<div>
  <h1 class="theme">Blending Technology and Culture</h1>
  <div class="images">
    <img src="/images/abt-2.jpg" alt="" />
    <img src="/images/abt-1.jpg" alt="" />
  </div>
  <div class="about-container">
    <h1>The Problem</h1>
    <div class="paragraph-about">
      In a fast-paced world, many people, especially the youth, feel
      disconnected from their culture and heritage. This disconnect has led to a
      loss of understanding of tradition, traditional artistic practices and our
      unique history. Additionally, traditional art forms and customs are at
      risk of fading away as younger generations move away.
    </div>
  </div>
  <div class="about-container">
    <h1>The Solution</h1>
    <div class="paragraph-about">
      However, there is nothing to fear when Desh ki Dhwani is here! It is an
      interactive web platform dedicated to preserving, sharing, and celebrating
      cultural traditions and customs. It allows users to explore, learn, and
      engage with various cultural practices, thus creating a thriving online
      community that strengthens cultural bonds
    </div>
  </div>
</div>
