<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desh Ki Dhwani</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Notable&family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,700&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Notable&family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,700&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;900&display=swap"
      rel="stylesheet"
    />
    <link href="/app.css" rel="stylesheet" type="text/css" />
    <link href="/navbar.css" rel="stylesheet" type="text/css" />
    <link href="/auth.css" rel="stylesheet" type="text/css" />
    <link href="/partial.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
    <link href="/blog.css" rel="stylesheet" type="text/css" />
    <link href="/accessdenied.css" rel="stylesheet" type="text/css" />
    <link href="/scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="/profile.css" rel="stylesheet" type="text/css" />
    <link href="/singlepost.css" rel="stylesheet" type="text/css" />
    <link href="/create.css" rel="stylesheet" type="text/css" />
    <link href="/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/about.css" rel="stylesheet" type="text/css" />
    <link href="/product.css" rel="stylesheet" type="text/css" />
    <link href="/products.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/icon.ico" />
  </head>
  <body>
    <%- include ("./partials/navbar"); %>
    <div class="container"><%- body %></div>
    <%- include ("./partials/footer"); %>
    <script src="/nav.js"></script>
  </body>
</html>
