footer {
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-color);
}

footer > pre {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > pre > * {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
